In [1]:
import pandas as pd
import numpy as np
import statistics
import requests
import json
import yahoo_fin.stock_info as yahoo

## API Call

In [2]:
def callApiIEX(method, stock,isEarnings = False ):
    key = "token=" + "pk_ee5af08dfb9a419aaba2cbee77b80165"
    host = "https://cloud.iexapis.com/stable/"
    ticker = "stock/"+ stock
    api_method ="/" + method 
    query = "?"
    period = "period=annual"
    url = host + ticker + api_method + query + key 
    try:
        response = requests.request("GET", url)
        balance_sheet = json.loads(response.text)
        return balance_sheet
    except ValueError:
        print("Unknown expeption on" + stock)
        return {}

In [3]:

def callApiYahoo(method, stock):
    url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/" + method
    querystring = {"symbol": stock }
    headers = {
        'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
        'x-rapidapi-key': "b057006049msh2dd6f48e0283787p151e0djsnf76cd322583c"
        }
    try:
        response = requests.request("GET", url, headers=headers, params=querystring)
        balance_sheet = json.loads(response.text)
        return balance_sheet
    except ValueError:
        print("Unknown expeption on" + stock)
        return {}

# Gat All tickers

In [4]:
nasdaq = yahoo.tickers_nasdaq()
SandP500 = yahoo.tickers_sp500()
otherTickers = yahoo.tickers_other()

# Basic Methods

### IEX API

In [5]:
def peRatio(quote):
    if "peRatio" in quote.keys() and quote["peRatio"] is not None:
        return quote["peRatio"]
    else:
        0.0

In [6]:
def latestPrice(quote):
    if "latestPrice" in quote.keys() and quote["latestPrice"] is not None:
        return quote["latestPrice"]
    else:
        0.0

In [7]:
def week52Low(quote):
    if "week52Low" in quote.keys() and quote["week52Low"] is not None:
        return quote["week52Low"]
    else:
        0.0

In [8]:
def week52High(quote):
    if "week52High" in quote.keys() and quote["week52High"] is not None:
        return quote["week52High"]
    else:
        0.0

In [9]:
def priceToBook(stats):
    if "priceToBook" in stats.keys() and stats["priceToBook"] is not None:
        return float(stats["priceToBook"])
    return 0.0

In [11]:
tickers = ['LUV','TELA', 'FB', 'MAR', 'JPM','HTZ', 'DAL', 'APPL']
dataSet = [] 
for ticker in tickers:
    data = {}
    
    data["Ticker"] = ticker

    # Major data set 
    quote = callApiIEX("quote", ticker)
    stats = callApiIEX("advanced-stats", ticker)
    
    price_Book = priceToBook(stats)
    pe_Value = peRatio(quote)
    
    data["Price_Book < 1.5"] = price_Book
    data["PE Ratio < 15"] = pe_Value

    dataSet.append(data.copy())
pd.DataFrame(dataSet)

Unknown expeption onAPPL

  Ticker  Price_Book < 1.5  PE Ratio < 15
0    LUV          2.336810          97.18
1   TELA          7.416130          -6.85
2     FB          6.343194          33.35
3    MAR         45.791617          73.81
4    JPM          1.178667          13.86
5    HTZ          0.120091          -0.17
6    DAL          1.316582          -5.56
7   APPL          0.000000            NaN

In [12]:
len(nasdaq)

3648