In [38]:
import pandas as pd

In [39]:
import requests
import json

In [63]:
def callApi(method, stock):
    key = "?token=" + "pk_ee5af08dfb9a419aaba2cbee77b80165"
    host = "https://cloud.iexapis.com/stable/"
    ticker = "stock/"+ stock
    api_method ="/" + method 
    url = host + ticker + api_method + key 
    try:
        response = requests.request("GET", url)
        balance_sheet = json.loads(response.text)
        return balance_sheet
    except ValueError:
        print("Unknown expeption on" + stock)
        return {}

In [68]:
callApi("advanced-stats", "LUV")

{'week52change': -0.25,
 'week52high': 58.83,
 'week52low': 22.47,
 'marketcap': 23235058080,
 'employees': 60800,
 'day200MovingAvg': 41.2,
 'day50MovingAvg': 34.28,
 'float': 587623408,
 'avg10Volume': 12748051.1,
 'avg30Volume': 12166286.17,
 'ttmEPS': 0.4077,
 'ttmDividendRate': 0.36,
 'companyName': 'Southwest Airlines Co.',
 'sharesOutstanding': 589872000,
 'maxChangePercent': 1.2743,
 'year5ChangePercent': -0.0674,
 'year2ChangePercent': -0.3711,
 'year1ChangePercent': -0.25,
 'ytdChangePercent': -0.281729,
 'month6ChangePercent': -0.129503,
 'month3ChangePercent': 0.031692,
 'month1ChangePercent': 0.203851,
 'day30ChangePercent': 0.249286,
 'day5ChangePercent': 0.048164,
 'nextDividendDate': None,
 'dividendYield': 0.009139375476009138,
 'nextEarningsDate': None,
 'exDividendDate': '2020-03-03',
 'peRatio': 96.62,
 'beta': 1.139553690939783,
 'totalCash': 4072000000,
 'currentDebt': 1172000000,
 'revenue': 22428000000,
 'grossProfit': 6031000000,
 'totalRevenue': 22428000000,
 'EBITDA': 4224000000,
 'revenuePerShare': 38.02,
 'revenuePerEmployee': 368881.58,
 'debtToEquity': 0.41,
 'profitMargin': 0.10255038344925986,
 'enterpriseValue': 23159058080,
 'enterpriseValueToRevenue': 1.03,
 'priceToSales': 1.04,
 'priceToBook': 2.3632076973148903,
 'forwardPERatio': -6.31,
 'pegRatio': -0.33,
 'peHigh': -96.44262295081968,
 'peLow': -36.8360655737705,
 'week52highDate': '2020-02-14',
 'week52lowDate': '2020-05-14',
 'putCallRatio': 0.321259489592963}

In [57]:
def peRatio(quote):
    if not("peRatio" in quote.keys()):
        return 0
    return quote["peRatio"]

In [66]:
def priceToBook(stats):
    if not("priceToBook" in stats.keys()):
        return 0
    return stats["priceToBook"]

In [70]:
tickers = ['LUV','TELA', 'FB', 'MAR', 'JPM','HTZ', 'DAL' ]
dataSet = [] 
for ticker in tickers:
    data = {}
    points = 0
    data["Ticker"] = ticker
    
    # Major data set 
    quote = callApi("quote", ticker)
    stats = callApi("advanced-stats", ticker)
    
    # PE Ratio < 15
    pe_ratio = peRatio(quote)
    if pe_ratio != 0: 
        data["PE Ratio < 15"] = pe_ratio
    else: 
        data["PE Ratio < 15"] = "NA"

    # Price To Book Ratio  
    price_to_book = priceToBook(stats)
    if price_to_book != 0: 
        data["Price To Book < 1.5"] = price_to_book
    else: 
        data["Price To Book < 1.5"] = "NA"
    
    if pe_ratio * price_to_book < 22.5: 
        points += 1
    
    data["Points"] = points
    dataSet.append(data.copy())
pd.DataFrame(dataSet)

  Ticker  PE Ratio < 15  Price To Book < 1.5  Points
0    LUV          96.62             2.363208       0
1   TELA          -5.48             6.140537       1
2     FB          34.29             6.726721       0
3    MAR          74.81            48.356612       0
4    JPM          13.92             1.207238       1
5    HTZ          -0.18             0.127155       1
6    DAL          -5.46             1.319489       1